TELEGRAM_BOT_TOKEN=REPLACE_WITH_TELEGRAM_BOT_TOKEN
WALLET_ENC_KEY=REPLACE_WITH_64_HEX_CHARS

SNIPER_RPC_ETHEREUM=REPLACE_WITH_RPC_URLS_COMMA_SEPARATED
SNIPER_CHAINID_ETHEREUM=REPLACE_WITH_CHAIN_ID
SNIPER_RPC_ROBINHOOD=REPLACE_WITH_RPC_URLS_COMMA_SEPARATED
SNIPER_CHAINID_ROBINHOOD=REPLACE_WITH_CHAIN_ID
SNIPER_RPC_BASE=REPLACE_WITH_RPC_URLS_COMMA_SEPARATED
SNIPER_CHAINID_BASE=REPLACE_WITH_CHAIN_ID
SNIPER_RPC_POLYGON=REPLACE_WITH_RPC_URLS_COMMA_SEPARATED
SNIPER_CHAINID_POLYGON=REPLACE_WITH_CHAIN_ID
SNIPER_RPC_SOLANA=REPLACE_WITH_RPC_URLS_COMMA_SEPARATED

EXPLORER_API_KEY=REPLACE_WITH_EXPLORER_API_KEY
OPENSEA_API_KEY=REPLACE_WITH_OPENSEA_API_KEY
MAGICEDEN_API_KEY=REPLACE_WITH_MAGICEDEN_API_KEY
RARIBLE_API_KEY=REPLACE_WITH_RARIBLE_API_KEY
